/*
bodyprofile {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
} */
.profileContainer{
    position: absolute;
    top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.profile-user-settings,
.profile-bio {
    position: absolute;
    top: 10%;
    left: 35%;
    width: calc(66.666% - 2rem);
}

.profile-user-settings {
    margin-top: 1.1rem;
}

.profile-user-name {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    margin-left:-7rem;

}

.profile-edit-btn {
    font-weight: 600;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem;
    padding: 1 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: 60%;
    transform: translate(-50%, -50%);
    margin-left:3rem;
    width:7rem;
    height:2rem;

}

.profile-settings-btn {
    font-size: 2rem;
    margin-left: 1rem;
}

.profile-stats {
    display:flex;
    flex-direction: row;
    position: absolute;
    top: 170%;
    left: 40%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.profile-stat-post{
    margin-right: 1rem;
    width:5rem;
}
.profile-stat-followers{
    margin-right: 1rem;
    width:5rem;
}
.profile-stat-following{
    margin-left: 1rem;
    width:5rem;
}


/* .profile-bio {
    margin-top: 6.5rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-left: -15rem;
} */


/* Gallery Section */
.images-container {
    max-width: 100rem;
    margin-top: 250px;
    padding-left: 5rem;
    padding-right: 5rem;
    position: relative;
    align-items: center;
    justify-content: center;
}

.imagesList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 15px;
}

.gallery-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery-image {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    padding-left: 10px;
    padding-right: 10px;
}
