.feedImages{
  width: 40rem;
  height: 40rem;
  object-fit: cover;
}
.postModalImages{
  width:  40rem;
  height: 40rem;
  border: burlywood;
  object-fit: cover;
}

.postContainer{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.feedUserName{
  display:flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  color: black;
  border: 1px solid lightgrey;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  padding-left: 1rem;
  margin-top:-.3rem;
}

.feedUserName2{
  color:black;
  font-size: 1rem;
  font-weight:bold;
  margin-right: 4px;
}

.feedCaption{
  font-size: 1rem;
  font-weight: lighter;
}

.unlike {
  color: red;
}

.likeCounter{
  margin-top:.7rem;
  margin-bottom: .7rem;
}

.modalUserName{
  background-color: white;
  width:20rem;
  border-left: 0.5px solid lightgray
}

.modalContainer{
  display: flex;
  flex-direction: row;
  position: relative;
}

.modalUserNameText{
  margin-left: 2rem;
  margin-top: 1rem;
  color: black;
  font-weight: bold;
}

.modalCaption{
  margin-left: 2rem;
  margin-top: 0.5rem;
}
.line{
  border-bottom: 0.5px solid lightgray;
}
.modalComments{
  margin-left: 2rem;
  margin-top:1rem;
  margin-bottom: 2rem;
}

.modalCommentUser{
  color: black;
  margin-left: 2rem;
  margin-top: 1rem;
  font-weight: bold;
}
.modalCommentsContainer{
  height: 31rem;
  overflow-y: scroll;
}

.modalCommentInput{
  width: 20rem;
  height:3rem;
  border-top: 0.5px solid lightgray;
  border-left:none;
  border-right: none;
  border-bottom: none;
}

.modalCommentInput::placeholder{
  text-align: center;
}

.modalCommentBar{
 position: absolute;
 bottom: 0px;
}

.modalLikes{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;

}
