.feedImages{
  width: 40rem;
  height: 40rem;
  object-fit: cover;
}

.feedContainer{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.feedUserName{
  display:flex;
  justify-content: flex-start;
<<<<<<< HEAD
  flex-direction: column;
=======
>>>>>>> 8e2a3623938b7c559a46ebf41fb0c7909206fb7b
  position: relative;
  color: black;
  border: 1px solid lightgrey;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  padding-left: 1rem;
  margin-top:-.3rem;
}

.feedUserName2{
  color:black;
  font-size: 1rem;
  font-weight:bold;
  margin-right: 5px;
}

.feedCaption{
  font-size: 1rem;
  font-weight: lighter;
}
<<<<<<< HEAD

.unlike {
  color: red;
}

.likeCounter{
  margin-top:.7rem;
  margin-bottom: .7rem;
}
=======
>>>>>>> 8e2a3623938b7c559a46ebf41fb0c7909206fb7b
